.subscribe{
    border: none;
    background-color: rgb(190, 6, 6);
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.subscribe:hover{
    opacity: 0.70;
    transition: 0.3s;
}
.subscribe:active{
    opacity:0.5;
}

.join{
    background-color: white;
    border: 1px solid rgb(0, 135, 219);
    padding: 9px;
    color: rgb(0, 135, 219);
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
}
.join:hover{
    background-color: rgb(0, 135, 219);
    transition: 0.4s background-color 0.5s, color 0.5s;
    color: white;
}
.join:active{
    opacity: 0.7;
}





.tweet{
    background-color: rgb(0, 135, 219);
    height: 30px;
    width: 105px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
}
.tweet:hover{
    box-shadow: 0px 0px 10px black;
    transition: 0.8s;
    background-color: black;
    color: white;
} 
.tweet:active{
    opacity: 0.7;
    
}





.cart{
    background-color: rgb(255, 216, 20);
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 50px;
    color: black;
}


.buy{
    background-color:rgb(255, 164, 28);
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 50px;
    color: black;
    margin-left:8px;
}



.back{
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
}
.next{
    padding-top: 8px;
    padding-bottom: 8px;
}
a{
    padding: 5px;
}


.stretch{
    margin-left: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 10px 25px 10px 25px;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    /* margin: 10px; */

}

.stretch:hover{
    padding: 16px 40px 16px 40px;
}

.click{
    background-color: green;
    margin-left: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 10px 25px 10px 25px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* transition: 0.5s; */
}
.click:hover{
    box-shadow: 5px 5px 5px black;
}



.one{
    background-color: green;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.one:hover{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right:0px
}

.me{
    width: 300px;
    display: block;
}

.square{
    background-color: red;
    width: 50px;
    height: 50px;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: green;
    margin-top: 20px;
    display: inline-block;
    border-radius: 100px;
}


.question-box{
    position: relative;
    border: 1px solid rgb(117, 112, 112);
    border-radius: 3px;
    /* padding-top: 5px; */
    padding-bottom: 17px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20em;
}
.question{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 3px;
}

/* install music  */
.install-music{
    position: relative;
    border: 1px solid black;
    width: 28em;
    background-color: rgb(29, 27, 27);
}
.music{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bolder;
    color: white;
    padding-left: 10px;
    margin-bottom: 0px;
}
.description{
    color: rgb(140, 140, 140);
    font-size: 20px;
    padding-left:10px ;
}