.quotes{
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    width: 450px;
    /* line-height: 30px; */
    margin-bottom: 5px;
}

.author{
    margin-top: 0px;
    font-family: Arial;
    font-size: 13px;
    color: rgb(92, 88, 88);
}

.about-google{
    /* line-height: 15px;
     */
     font-family: arial;
     font-size: 15px;
     color: rgb(92, 88, 88);
     width: 300px;
     margin-bottom: 38px;
}


.login{
    font-family:arial;
    margin-top: 0px;
    color: white;
    background-color: rgb(223, 36, 36);
    padding: 15px;
    font-size: 14px;
    text-align: center;
}
.underline{
    margin-left: 5px;
}

.underline:hover{
    text-decoration: underline;
    cursor:pointer;
}